In [20]:
import pandas as pd
path="C:\\Users\sunid\\Desktop\\hackathon project data set\\diabetes_prediction_dataset.csv"
data=pd.read_csv(path)
data

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [3]:
data.shape

(100000, 9)

In [4]:
data.isnull()  #checking for null values

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False,False
99999,False,False,False,False,False,False,False,False,False

In [5]:
print(data['smoking_history'].unique()) #different categorical values in a particular column

['never' 'No Info' 'current' 'former' 'ever' 'not current']

In [6]:
print(data['gender'].unique())

['Female' 'Male' 'Other']

In [7]:
data['smoking_history']=data['smoking_history'].map({'never':0,'No Info':1,'current':2,'former':3,'ever':4,'not current':5})
data['gender']=data['gender'].map({'Female':0,'Male':1,'Other':2})
data  #done encoding objects

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0
4,1,76.0,1,1,2,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,1,27.32,6.2,90,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,2,22.43,6.6,90,0

In [18]:
inputs=data.drop('diabetes',axis=1)
outputs=data.drop(['hypertension','gender','age','smoking_history','bmi','HbA1c_level','blood_glucose_level','heart_disease'],axis=1)

import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,test_size=0.2)

from sklearn.ensemble import RandomForestClassifier  #randomforest algorithm used
model=RandomForestClassifier(n_estimators=200)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)

a=model.predict([[0,80.0,0,1,0,25.19,6.6,140]])
print(a[0])

C:\Users\sunid\AppData\Local\Temp\ipykernel_11272\4096435729.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

0

C:\Users\sunid\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [19]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)    #97 percent accuracy hence no need for scaling

[[18229    67]
 [  507  1197]]