In [26]:
import pandas as pd
path="C:\\Users\sunid\\Desktop\\hackathon project data set\\pcos_data\\PCOS_infertility.csv"
data=pd.read_csv(path)
data

     Sl. No  Patient File No.  PCOS (Y/N)   beta1   beta2  AMH(ng/mL)
0         1             10001           0    1.99    1.99        2.07
1         2             10002           0   60.80    1.99        1.53
2         3             10003           1  494.08  494.08        6.63
3         4             10004           0    1.99    1.99        1.22
4         5             10005           0  801.45  801.45        2.26
..      ...               ...         ...     ...     ...         ...
535     537             10537           0    1.99    1.99        1.70
536     538             10538           0   80.13    1.99        5.60
537     539             10539           0    1.99    1.99        3.70
538     540             10540           0  292.92    1.99        5.20
539     541             10541           1    1.99    1.99       20.00

[540 rows x 6 columns]

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sl. No            540 non-null    int64
 1   Patient File No.  540 non-null    int64
 2   PCOS (Y/N)        540 non-null    int64
 3   beta1             540 non-null    float64
 4   beta2             540 non-null    float64
 5   AMH(ng/mL)        540 non-null    float64
dtypes: float64(3), int64(3)
memory usage: 25.4 KB

In [30]:
inputs=data.drop(['Sl. No','Patient File No.','PCOS (Y/N)'],axis=1)
outputs=data.drop(['Sl. No','Patient File No.','beta1','beta2','AMH(ng/mL)'],axis=1)
inputs

      beta1   beta2  AMH(ng/mL)
0      1.99    1.99        2.07
1     60.80    1.99        1.53
2    494.08  494.08        6.63
3      1.99    1.99        1.22
4    801.45  801.45        2.26
..      ...     ...         ...
535    1.99    1.99        1.70
536   80.13    1.99        5.60
537    1.99    1.99        3.70
538  292.92    1.99        5.20
539    1.99    1.99       20.00

[540 rows x 3 columns]

In [35]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,test_size=0.2)

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

import numpy as np
newinputs=np.array([[1.99,1.99,1.22]])
newinputs= sc.transform(newinputs)
result=model.predict(newinputs)
print(result[0])

0

C:\Users\sunid\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\sunid\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [36]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm) #75 percent accurate

[[73  6]
 [21  8]]

NameError: name 'inputs' is not defined